In [1]:
import pandas as pd
df=pd.read_csv('credit_data.csv')

In [2]:
import numpy as np
import matplotlib.pyplot
import seaborn as sns

In [3]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        1
V4        1
V5        1
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [8]:
df['Amount']=df['Amount'].fillna(df['Amount'].median())

In [9]:
df['Amount'].isnull().sum()

0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9965 entries, 0 to 9964
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    9965 non-null   int64
 1   V1      9965 non-null   float64
 2   V2      9965 non-null   float64
 3   V3      9964 non-null   float64
 4   V4      9964 non-null   float64
 5   V5      9964 non-null   float64
 6   V6      9964 non-null   float64
 7   V7      9964 non-null   float64
 8   V8      9964 non-null   float64
 9   V9      9964 non-null   float64
 10  V10     9964 non-null   float64
 11  V11     9964 non-null   float64
 12  V12     9964 non-null   float64
 13  V13     9964 non-null   float64
 14  V14     9964 non-null   float64
 15  V15     9964 non-null   float64
 16  V16     9964 non-null   float64
 17  V17     9964 non-null   float64
 18  V18     9964 non-null   float64
 19  V19     9964 non-null   float64
 20  V20     9964 non-null   float64
 21  V21     9964 non-null   float64
 22  V22     9964 non-null   float64
 23  V23     9964 non-null   float64
 24  V24     9964 non-null   float64
 25  V25     9964 non-null   float64
 26  V26     9964 non-null   float64
 27  V27     9964 non-null   float64
 28  V28     9964 non-null   float64
 29  Amount  9965 non-null   float64
 30  Class   9964 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 2.4 MB

In [11]:
df.iloc[:,1:28]=df.iloc[:,1:28].fillna(df.iloc[:,1:28].median())

In [12]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       1
Amount    0
Class     1
dtype: int64

In [15]:
df['V28']=df['V28'].fillna(df['V28'].median())
df['Class']=df['Class'].fillna(df['Class'].median())

In [17]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [19]:
df['Class'].value_counts()

0.0    9927
1.0      38
Name: Class, dtype: int64

THis is typical example of imbalanced dataset, and if we pass this column which handling it we would get a model which is highly biased towards value 0.

In [20]:
legit = df[df['Class']==0]
fraud = df[df['Class']==1]

In [25]:
legit.shape

(9927, 31)

In [24]:
fraud.shape

(38, 31)

UnderSampling Technique

Building a sample dataset containg similar distribution of legit and fraud transactions

In [26]:
 #38 fraud and 9927 legit data

In [27]:
lsample = legit.sample(n=38)
lsample.shape

(38, 31)

Now Concatenate 2 data frames

In [31]:
df=pd.concat([lsample,fraud],axis=0) #axis=0 means adding row wise and not column wise

In [32]:
df.shape

(76, 31)

In [33]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
9742,14480,-0.912072,-0.550877,1.977041,-0.522910,-0.097213,0.042502,-0.427820,-0.221025,-0.000313,...,0.273293,1.387357,0.174927,0.040587,-0.425062,-0.083253,-0.186944,-0.044884,39.00,0.0
7353,9887,0.179283,-1.282050,0.122910,2.083309,-0.749700,-0.153463,0.630975,-0.235124,1.529293,...,0.069383,-0.463727,-0.448087,0.366652,0.405009,-0.423556,-0.082221,0.099312,508.00,0.0
7662,10625,1.296945,0.077369,0.536550,0.030777,-0.437137,-0.681534,-0.253371,-0.252800,1.623653,...,-0.302583,-0.608391,0.028450,-0.108949,0.175869,0.893945,-0.096594,0.001360,15.00,0.0
5531,5613,-0.651571,1.777817,0.580497,1.481665,0.069720,-1.244331,0.418957,-0.003359,0.058996,...,-0.081694,-0.030180,-0.075498,0.606868,-0.282927,0.483958,-0.155187,0.093985,0.76,0.0
5423,5402,-1.259129,0.488686,2.696192,1.281386,0.256948,0.001381,-0.425218,0.018243,1.505553,...,-0.209655,-0.069951,-0.497698,0.024393,0.232403,-0.310332,-0.034691,0.045871,9.99,0.0

In [34]:
df['Class'].value_counts()

0.0    38
1.0    38
Name: Class, dtype: int64

Hence we have evenly distributed dataset